*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


body{
    width: 100%;
    height: 100%;
    color: var(--text-color);
    background: var(--bg-color);
}


.logo{
    font-size: 36px;
    color: var(--text-color);
    font-weight: 600;
}
span{
    color: var(--main-color);
}


section{
    padding: 110px 16% 90px;
}
.hero{
    width: 100%;
    background-position: top right;
    display: flex;

    justify-content: flex-start;
}
.main-content{
    width: 100%;
}

.main-content h4{
    font-size: 1.6rem;
}
.main-content h1{
    font-size: var(--h1-font);
    font-weight: 900;
    margin: 20px 0px 20px;
    line-height: 1.2;
}
.main-content p{
    font-size: var(--p-font);
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 15px;
}

.footer{
    padding: 22px 16%;
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.copyright p{
    font-size: 15px;
    font-weight: 400;
    color: var(--other-color);
}

.scroll-top i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #075fe4;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 27[x];
}

@media (max-width: 1700px) {
    header{
        padding: 20px 8%;
    }
    header.sticky{
        padding: 14px 8%;
    }
    section{
        padding: 91px 3% 12% 56px;
    }
    .footer{
        padding: 18px 8%;
    }
    .logo{
        font-size: 28px;
    }
}

@media (max-width: 1380px) {
    header{
        padding: 20px 5%;
    }
    header.sticky{
        padding: 14px 5%;
    }
    section{
        padding: 90px 5% 80px;
    }
    .footer{
        padding: 18px 5%;
    }
    .hero{
        height: 90vh;
        background-position: center;
    }
}

@media (max-width: 1290px){
    box{
        padding: 40px 40px 46px;
    }
    .box img{
        width: 100%;
        height: 60px;
        max-width: 60px;
    }
    .box h3{
        font-size: 21px;
    }
} 

@media (max-width: 1240px){
    .about{
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }
    .about-img img{
        text-align: center;
        width: 100%;
        height: 400px;
        max-width: 400px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
    :root{
        --h1-font: 4rem;
        --h2-font: 2.2rem;
        --p-font: 15px;
    }
}

@media (max-width: 950px){
    :root{
        --h1-font: 3.5rem;
    }
    .social{
        margin-bottom: 20px;
    }
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    .navlist a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navlist.active{
        right: 0;
    }
}

@media (max-width: 680px){
    .main-content p{
        width: 100%;
    }
}

@media (max-width: 470px){
    :root{
        --h1-font: 3rem;
        --h2-font: 2rem;
    }
    .about-img img{
        text-align: center;
        width: 100%;
        height: 300px;
        max-width: 300px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
}

.box a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .50s ease;
}
.box a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}


.row-icon a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .50s ease;
}
.row-icon a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}



.BookingList{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px ;
    padding-right: 10px;


}
.BookingList th, .BookingList td{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    padding: 19px 61px 15px 47px;

}

thead th{
    border-bottom: 1px solid white;
}

tbody tr:hover {
    background-color: #13bcff22;
}

tbody tr{
    border-bottom: 1px solid white;
}

