
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16%;
    background: transparent;
    transition: all .50s ease;
}
.logo{
    font-size: 36px;
    color: var(--text-color);
    font-weight: 600;
}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .50s ease;
}
.navlist a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}
#menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.h-btn{
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}
.h-btn:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);
}

section{
    padding: 110px 16% 90px;
}

.main-content h4{
    font-size: 1.6rem;
}
.main-content h1{
    font-size: var(--h1-font);
    font-weight: 900;
    margin: 20px 0px 20px;
    line-height: 1.2;
}
.main-content p{
    font-size: var(--p-font);
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 15px;
}
.social{
    margin-bottom: 40px;
}
.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--main-color);
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
}
.social i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
}
.btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}
.btn2{
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    margin-left: 15px;
    transition: all .50s ease;
}
.btn2:hover{
    background: var(--main-color);
    color: var(--bg-color);
}
.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
    padding: 16px 16%;
}

@media (max-width: 1700px) {
    header{
        padding: 20px 8%;
    }
    .sticky{
        padding: 14px 8%;
    }
    section{
        padding: 90px 8% 80px;
    }
    .footer{
        padding: 18px 8%;
    }
    .logo{
        font-size: 28px;
    }
}

@media (max-width: 1380px) {
    header{
        padding: 20px 5%;
    }
    header.sticky{
        padding: 14px 5%;
    }
    section{
        padding: 90px 5% 80px;
    }
    .footer{
        padding: 18px 5%;
    }
    .hero{
        height: 90vh;
        background-position: center;
    }
}

@media (max-width: 1290px){
    box{
        padding: 40px 40px 46px;
    }
    .box img{
        width: 100%;
        height: 60px;
        max-width: 60px;
    }
    .box h3{
        font-size: 21px;
    }
} 

@media (max-width: 1240px){
    .about{
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }
    .about-img img{
        text-align: center;
        width: 100%;
        height: 400px;
        max-width: 400px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
    :root{
        --h1-font: 4rem;
        --h2-font: 2.2rem;
        --p-font: 15px;
    }
}

@media (max-width: 950px){
    :root{
        --h1-font: 3.5rem;
    }
    .social{
        margin-bottom: 20px;
    }
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    .navlist a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navlist.active{
        right: 0;
    }
}

@media (max-width: 680px){
    .main-content p{
        width: 100%;
    }
}

@media (max-width: 470px){
    :root{
        --h1-font: 3rem;
        --h2-font: 2rem;
    }
    .about-img img{
        text-align: center;
        width: 100%;
        height: 300px;
        max-width: 300px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
}

.box a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .50s ease;
}
.box a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}


.row-icon a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .50s ease;
}
.row-icon a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}