
body{
    color: var(--text-color);
    background: var(--bg-color);
}

.logo{
    font-size: 36px;
    color: var(--text-color);
    font-weight: 600;
}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .50s ease;
}
.navlist a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}
#menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.h-btn{
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}
.h-btn:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);
}

section{
    padding: 110px 16% 90px;
}
.hero{
    height: 100vh;
    width: 100%;
    background: url('../../../assets/img/2.svg');
    background-position: top right;
    background-size: cover;
    display: flex;

    align-items: center;
    justify-content: center;
}
.main-content h4{
    font-size: 1.6rem;
}
.main-content h1{
    font-size: var(--h1-font);
    font-weight: 900;
    margin: 20px 0px 20px;
    line-height: 1.2;
}
.main-content p{
    font-size: var(--p-font);
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 15px;
}
.social{
    margin-bottom: 40px;
}
.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--main-color);
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
}
.social i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
}
.btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}
.btn2{
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    margin-left: 15px;
    transition: all .50s ease;
}
.btn2:hover{
    background: var(--main-color);
    color: var(--bg-color);
}
header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
    padding: 16px 16%;
}

.signup {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Adjust the pixel value as needed */
}

  .text{
    color: var(--main-color);
    font-size: 28px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=date],[type=email] {
    width: 100%;
    padding: 8px 12px;
    margin: 10px 0;
    display: inline-block;
    background: transparent;
    border-radius: 8px;
    color: white;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: var(--main-color);;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  .log{
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: row-reverse;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }  


.footer{

    padding: 22px 16%;
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.copyright p{
    font-size: 15px;
    font-weight: 400;
    color: var(--other-color);
}

.scroll-top i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #075fe4;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 27[x];
}

@media (max-width: 1700px) {
    header{
        padding: 20px 8%;
    }
    header.sticky{
        padding: 14px 8%;
    }
    section{
        padding: 90px 8% 80px;
    }
    .footer{
        padding: 18px 8%;
    }
    .logo{
        font-size: 28px;
    }
}

@media (max-width: 1380px) {
    header{
        padding: 20px 5%;
    }
    header.sticky{
        padding: 14px 5%;
    }
    section{
        padding: 90px 5% 80px;
    }
    .footer{
        padding: 18px 5%;
    }
    .hero{
        height: 90vh;
        background-position: center;
    }
}

@media (max-width: 1290px){
    box{
        padding: 40px 40px 46px;
    }
    .box img{
        width: 100%;
        height: 60px;
        max-width: 60px;
    }
    .box h3{
        font-size: 21px;
    }
} 

@media (max-width: 1240px){
    .about{
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }
    .about-img img{
        text-align: center;
        width: 100%;
        height: 400px;
        max-width: 400px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
    :root{
        --h1-font: 4rem;
        --h2-font: 2.2rem;
        --p-font: 15px;
    }
}

@media (max-width: 950px){
    :root{
        --h1-font: 3.5rem;
    }
    .social{
        margin-bottom: 20px;
    }
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    .navlist a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navlist.active{
        right: 0;
    }
}

@media (max-width: 680px){
    .main-content p{
        width: 100%;
    }
}

@media (max-width: 470px){
    :root{
        --h1-font: 3rem;
        --h2-font: 2rem;
    }
    .about-img img{
        text-align: center;
        width: 100%;
        height: 300px;
        max-width: 300px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
}

/* Style for email input */
input[type="email"] {
    width: 100%;
    padding: 8px 12px;
    margin: 10px 0;
    display: inline-block;
    background: transparent;
    border-radius: 8px;
    color: white;
  }
  
  /* Style for email input focus state */
  input[type="email"]:focus {
    outline: none;
    border-color: var(--main-color); /* Adjust focus border color */
  }
  

  
.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 10px;
    height: 13px;
}

.container{
    max-width: 1000px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }

  .container .title{
    font-size: 25px;
    
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #13bbff);
  }

  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }

  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }

  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: white;
  }

  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #13bbff;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
    color: white;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
     
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
     
   
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }

#dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #13bbff;;
   border-color: #d9d9d9;
   color: white;
 }
 form input[type="radio"]{
    display: none;
    
  }
  form .button{
    height: 45px;
    margin: 35px 0
  }

  form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #13bbff);
  }

  form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #13bbff);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
    
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  .input-box input[type="date"] {
    background-color: transparent; /* or background-color: initial; */
  }
  
  .gender-details .category label .gender {
    color: white;
  }

  .input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}
.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}


Link{
  color: white;
  text-decoration: none;
}